## Data Cleaning

In [2]:
## Import libraries.
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
## Import datasets
# moviesd1 = pd.read_csv("datasets/movies_ MovieLens.csv", header=0)
data_ML = pd.read_csv("movies.csv", header=0)
df_ML=data_ML.copy()
print("MovieLens movies dataset :")
print("Shape = ", df_ML.shape)
print("Columns :" , list(df_ML.columns), "\n")

####### Import datasets
# moviesde = pd.read_csv("datasets/wiki_movie_plots_deduped.csv", header=0)
data_Wiki = pd.read_csv("wiki_movie_plots_deduped.csv", header=0)
df_wiki=data_Wiki.copy()
print("Wikipedia movies dataset :")
print("Shape = ", df_wiki.shape)
print("Columns :" , list(df_wiki.columns))

MovieLens movies dataset :
Shape =  (46628, 21)
Columns : ['id', 'title', 'tagline', 'description', 'genres', 'keywords', 'date', 'collection', 'runtime', 'revenue', 'budget', 'director', 'cast', 'production_companies', 'production_countries', 'popularity', 'average_vote', 'num_votes', 'language', 'imdb_id', 'poster_url']

Wikipedia movies dataset :
Shape =  (34886, 8)
Columns : ['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast', 'Genre', 'Wiki Page', 'Plot']

In [3]:
##### MovieLens dataset
df_ML=data_ML[["title","description"]]
# 
print("MovieLens dataset shape before cleaning", df_ML.shape)

df_ML=df_ML.dropna()
df_ML.drop_duplicates(subset ="title",keep='first',inplace=True,ignore_index=True)
df_ML.drop_duplicates(subset ="description",keep='first',inplace=True,ignore_index=True)

df_ML['title']=df_ML['title'].str.replace('[^\w\s]','')
df_ML.drop_duplicates(subset ="title",keep='first',inplace=True,ignore_index=True)
df_ML['tt']=df_ML['title']
for i in list(df_ML.index):
    df_ML['tt'][i]=df_ML['title'][i].replace(" ", "")
df_ML.drop_duplicates(subset ="tt",keep='first',inplace=True,ignore_index=True)

print("MovieLens dataset shape after cleaning", df_ML.shape)
m2=df_ML.copy()

##### Wikipedia dataset
df_wiki=data_Wiki[["Title","Plot"]]
# 
print("\n Wikipedia dataset shape before cleaning", df_wiki.shape)
df_wiki=df_wiki.dropna()
df_wiki.drop_duplicates(subset ="Title",keep='first',inplace=True,ignore_index=True)
df_wiki.drop_duplicates(subset ="Plot",keep='first',inplace=True,ignore_index=True)

df_wiki['Title']=df_wiki['Title'].str.replace('[^\w\s]','')
df_wiki.drop_duplicates(subset ="Title",keep='first',inplace=True,ignore_index=True)# 
df_wiki['tt']=df_wiki['Title']
for i in list(df_wiki.index):
    df_wiki['tt'][i]=df_wiki['Title'][i].replace(" ", "")
df_wiki.drop_duplicates(subset ="tt",keep='first',inplace=True,ignore_index=True)

print("Wikipedia dataset shape after cleaning", df_wiki.shape)
m3=df_wiki.copy()

MovieLens dataset shape before cleaning (46628, 2)

<ipython-input-3-088b40461087>:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df_ML['title']=df_ML['title'].str.replace('[^\w\s]','')

MovieLens dataset shape after cleaning (41122, 3)

 Wikipedia dataset shape before cleaning (34886, 2)

<ipython-input-3-088b40461087>:28: FutureWarning: The default value of regex will change from True to False in a future version.
  df_wiki['Title']=df_wiki['Title'].str.replace('[^\w\s]','')

Wikipedia dataset shape after cleaning (31888, 3)

In [4]:
# in wiki not in ML
df_wiki=(df_wiki[~df_wiki['tt'].isin(df_ML['tt'])])
df_ML.rename({ 'description': 'plot'}, axis=1, inplace=True)
df_wiki.rename({ 'Plot': 'plot'}, axis=1, inplace=True)
df_wiki.rename({ 'Title': 'title'}, axis=1, inplace=True)
df_wiki.pop('tt')
df_ML.pop('tt')
df_wiki.index=[i for i in range(16855)]
df_ML.index=[i for i in range(16855, 16855+41122)]
# concatenate the two datasets 
data=pd.concat([df_wiki,df_ML])
data.drop_duplicates(subset ="plot",keep='first',inplace=True,ignore_index=True)
a="No overview found."
no_plot=data[data['plot']==a]
data=data[~data['title'].isin(no_plot['title'])]
print(len(data))
b="No movie overview available."
no_plot2=data[data['plot']==b]
data=data[~data['title'].isin(no_plot2['title'])]

57970

In [5]:
print("the final number of movies is ", data.shape[0],'movies')

the final number of movies is  57969 movies

In [6]:
data.head(5)

,title,plot
0,Kansas Saloon Smashers,"A bartender is working at a saloon, serving dr..."
1,Love by the Light of the Moon,"The moon, painted with a smiling face hangs ov..."
2,The Martyred Presidents,"The film, just over a minute long, is composed..."
3,Terrible Teddy the Grizzly King,Lasting just 61 seconds and consisting of two ...
4,The Suburbanite,The film is about a family who move to the sub...

In [7]:
data.to_csv ("datasets/movies_synopsis_cleaned.csv", index = False, header=True)